html, body {
    font-family: "Segoe UI", sans-serif;
}

.text-blue {
    color: #7eb0e6;
}

.btn.btn-blue {
    box-shadow: 6px 1px 16px 0 rgba(0, 0, 0, 0.17);
    background-image: linear-gradient(281deg, #99b8d9 100%, #70a8e5 0);
    color: #f2f2f2;
}

.border-radius-30 {
    border-radius: 30px !important;
}

.divider {
    height: 12px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(86,86,86,1) 50%, rgba(255,255,255,1) 100%);
}

.bg-tile {
    background-image: url("/images/bg1.jpg");
    background-size: 100% auto;
}
